    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">                
                <h2>About #Castle</h2>
                <p>{{ site.about_castle }}</p>                
            </div>
        </div>
        <div class="row">
            {% for profile in site.profiles %}
            <div class="col-lg-4">
                <h3>{{ profile.name }}</h3>
                <a href="http://instagram.com/{{ profile.instagram }}" target="_blank">
                    <img class="instagram-avatar" src="img/instagram_{{ profile.instagram }}.jpg">
                </a>
                <p class="profile-text">{{ profile.about }}</p>
                <p>
                    {% unless profile.linkedin == "" %}
                        <a href="http://linkedin.com/in/{{profile.linkedin}}" class="btn btn-default btn-lg" target="_blank">
                            <i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span>
                        </a>
                    {% endunless %}

                    {% unless profile.instagram == "" %}
                        <a href="http://instagram.com/{{ profile.instagram }}" class="btn btn-default btn-lg" target="_blank">
                            <i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span>
                        </a>
                    {% endunless %}

                    {% unless profile.github == "" %}
                        <a href="http://github.com/{{ profile.github }}" class="btn btn-default btn-lg" target="_blank">
                            <i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span>
                        </a>
                    {% endunless %}

                    {% unless profile.twitter == "" %}
                        <a href="https://twitter.com/{{ profile.twitter }}" class="btn btn-default btn-lg" target="_blank">
                            <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
                        </a>
                    {% endunless %}
                </p>
            </div>
            {% endfor %}
        </div>
    </section>