    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Made with <i class="fa fa-heart"></i> from #Seattle</p>
            <p><a href="https://www.google.com/maps/place/The+Castle/@47.5924318,-122.3154125,17z/data=!3m1!4b1!4m2!3m1!1s0x54906a93ff6cbb6f:0xbcbf0768533980ce" target="_blank">1123 Sturgus AVE S., Seattle WA, 98144</a></p>
            <hr />
            <p>Contribute to this website on <a href="https://github.com/hashtagcastle/hashtagcastle" target="_blank"><i class="fa fa-github"></i> Github</a></p>
            <hr />
            <p>{{ site.footer }} &mdash; &copy; 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>
