    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Here's what we have been working on to keep busy.</p>
                    <a href="https://github.com/hashtagcastle" class="btn btn-default btn-lg">Visit Githhub</a> 

                    <hr />
                    
                    <h3>Hello World</h3>
                    <p>Learn more about Hello World. Project lead: Ammo</p>
                    <a href="-" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>