    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Here's what we have been working on.</p>
                    <a href="https://github.com/hashtagcastle" class="btn btn-default btn-lg">Visit Githhub</a> 

                    <hr />
                </div>
            </div>
        </div>
    </section>