.instagram-avatar {
	border-radius: 50%;
    border: 1px solid rgba(255,255,255,.2);
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.projects-section hr {
	margin: 50px 0;
}
footer hr {
	border: 1px solid rgba(255, 255, 255, 0.1);
	width: 45%;
	margin: 25px auto;
}